<section class="section-feedback">
  <div class="container feedback-container">
    <h2 class="feedback-title">Що говорять наші клієнти</h2>
    <ul class="feedback-list">
      <li class="feedback-item">
        <div class="feedback-icon-wrapper">
          <ul class="feedback-icon-list">
            <li class="feedback-icon-item">
              <a class="feedback-icon-link" href="#">
                <svg class="icon-star" width="20" height="18.89">
                  <use href="/img/sprite.svg#icon-star"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="feedback-icon-link" href="#">
                <svg class="icon-star" width="20" height="18.89">
                  <use href="/img/sprite.svg#icon-star"></use>
                </svg>
              </a>
            </li>
            <li class="feedback-icon-item">
              <a class="feedback-icon-link" href="#">
                <svg class="icon-star" width="20" height="18.89">
                  <use href="/img/sprite.svg#icon-star"></use>
                </svg>
              </a>
            </li>
            <li class="feedback-icon-item">
              <a class="feedback-icon-link" href="#">
                <svg class="icon-star" width="20" height="18.89">
                  <use href="/img/sprite.svg#icon-star"></use>
                </svg>
              </a>
            </li>
            <li class="feedback-icon-item">
              <a class="feedback-icon-link" href="#">
                <svg class="icon-star" width="20" height="18.89">
                  <use href="/img/sprite.svg#icon-star"></use>
                </svg>
              </a>
            </li>
          </ul>
          <p>Сумка дуже зручна та стильна, використовую щодня!</p>
          <h3>Анна</h3>
        </div>
      </li>
      <li class="feedback-item">
        <div class="feedback-icon-wrapper">
          <ul class="feedback-icon-list">
            <li class="feedback-icon-item">
              <a class="feedback-icon-link" href="#">
                <svg class="icon-star" width="20" height="18.89">
                  <use href="/img/sprite.svg#icon-star"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="feedback-icon-link" href="#">
                <svg class="icon-star" width="20" height="18.89">
                  <use href="/img/sprite.svg#icon-star"></use>
                </svg>
              </a>
            </li>
            <li class="feedback-icon-item">
              <a class="feedback-icon-link" href="#">
                <svg class="icon-star" width="20" height="18.89">
                  <use href="/img/sprite.svg#icon-star"></use>
                </svg>
              </a>
            </li>
            <li class="feedback-icon-item">
              <a class="feedback-icon-link" href="#">
                <svg class="icon-star" width="20" height="18.89">
                  <use href="/img/sprite.svg#icon-star"></use>
                </svg>
              </a>
            </li>
            <li class="feedback-icon-item">
              <a class="feedback-icon-link" href="#">
                <svg class="icon-star-no-fill" width="20" height="18.89">
                  <use href="/img/sprite.svg#icon-star"></use>
                </svg>
              </a>
            </li>
          </ul>
          <p>Відмінна якість матеріалів, приємно здивована.</p>
          <h3>Ігор</h3>
        </div>
      </li>
      <li>
        <div class="feedback-icon-wrapper">
          <ul class="feedback-icon-list">
            <li class="feedback-icon-item">
              <a class="feedback-icon-link" href="#">
                <svg class="icon-star" width="20" height="18.89">
                  <use href="/img/sprite.svg#icon-star"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="feedback-icon-link" href="#">
                <svg class="icon-star" width="20" height="18.89">
                  <use href="/img/sprite.svg#icon-star"></use>
                </svg>
              </a>
            </li>
            <li class="feedback-icon-item">
              <a class="feedback-icon-link" href="#">
                <svg class="icon-star" width="20" height="18.89">
                  <use href="/img/sprite.svg#icon-star"></use>
                </svg>
              </a>
            </li>
            <li class="feedback-icon-item">
              <a class="feedback-icon-link" href="#">
                <svg class="icon-star" width="20" height="18.89">
                  <use href="/img/sprite.svg#icon-star"></use>
                </svg>
              </a>
            </li>
            <li class="feedback-icon-item">
              <a class="feedback-icon-link" href="#">
                <svg class="icon-star-no-fill" width="20" height="18.89">
                  <use href="/img/sprite.svg#icon-star"></use>
                </svg>
              </a>
            </li>
          </ul>
          <p>Сумка повністю відповідає опису, рекомендую!</p>
          <h3>Олена</h3>
        </div>
      </li>
      <li>
        <div class="feedback-icon-wrapper">
          <ul class="feedback-icon-list">
            <li class="feedback-icon-item">
              <a class="feedback-icon-link" href="#">
                <svg class="icon-star" width="20" height="18.89">
                  <use href="/img/sprite.svg#icon-star"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="feedback-icon-link" href="#">
                <svg class="icon-star" width="20" height="18.89">
                  <use href="/img/sprite.svg#icon-star"></use>
                </svg>
              </a>
            </li>
            <li class="feedback-icon-item">
              <a class="feedback-icon-link" href="#">
                <svg class="icon-star" width="20" height="18.89">
                  <use href="/img/sprite.svg#icon-star"></use>
                </svg>
              </a>
            </li>
            <li class="feedback-icon-item">
              <a class="feedback-icon-link" href="#">
                <svg class="icon-star" width="20" height="18.89">
                  <use href="/img/sprite.svg#icon-star"></use>
                </svg>
              </a>
            </li>
            <li class="feedback-icon-item">
              <a class="feedback-icon-link" href="#">
                <svg class="icon-star" width="20" height="18.89">
                  <use href="/img/sprite.svg#icon-star"></use>
                </svg>
              </a>
            </li>
          </ul>
          <p>Швидка доставка та гарне обслуговування.</p>
          <h3>Сергій</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
