<section id="feedbacks" class="section-feedback">
  <div class="container feedback-container">
    <h2 class="feedback-title">Що говорять наші клієнти</h2>
    <ul class="feedback-list">
      <li class="feedback-item">
        <div class="feedback-icon-wrapper">
          <ul class="feedback-icon-list">
            <li class="feedback-icon-item">
              <svg class="icon-star" width="20" height="18.89">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-star" width="20" height="18.89">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="feedback-icon-item">
              <svg class="icon-star" width="20" height="18.89">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="feedback-icon-item">
              <svg class="icon-star" width="20" height="18.89">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="feedback-icon-item">
              <svg class="icon-star" width="20" height="18.89">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <p class="feedback-text">
            Сумка дуже зручна та стильна, використовую щодня!
          </p>
          <p class="feedback-client-name">Анна</p>
        </div>
      </li>
      <li class="feedback-item">
        <div class="feedback-icon-wrapper">
          <ul class="feedback-icon-list">
            <li class="feedback-icon-item">
              <svg class="icon-star" width="20" height="18.89">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-star" width="20" height="18.89">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="feedback-icon-item">
              <svg class="icon-star" width="20" height="18.89">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="feedback-icon-item">
              <svg class="icon-star" width="20" height="18.89">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="feedback-icon-item">
              <svg class="icon-star-no-fill" width="20" height="18.89">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <p class="feedback-text">
            Відмінна якість матеріалів, приємно здивована.
          </p>
          <p class="feedback-client-name">Ігор</p>
        </div>
      </li>
      <li>
        <div class="feedback-icon-wrapper">
          <ul class="feedback-icon-list">
            <li class="feedback-icon-item">
              <svg class="icon-star" width="20" height="18.89">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-star" width="20" height="18.89">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="feedback-icon-item">
              <svg class="icon-star" width="20" height="18.89">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="feedback-icon-item">
              <svg class="icon-star" width="20" height="18.89">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="feedback-icon-item">
              <svg class="icon-star-no-fill" width="20" height="18.89">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <p class="feedback-text">
            Сумка повністю відповідає опису, рекомендую!
          </p>
          <p class="feedback-client-name">Олена</p>
        </div>
      </li>
      <li>
        <div class="feedback-icon-wrapper">
          <ul class="feedback-icon-list">
            <li class="feedback-icon-item">
              <svg class="icon-star" width="20" height="18.89">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-star" width="20" height="18.89">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="feedback-icon-item">
              <svg class="icon-star" width="20" height="18.89">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="feedback-icon-item">
              <svg class="icon-star" width="20" height="18.89">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="feedback-icon-item">
              <svg class="icon-star" width="20" height="18.89">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <p class="feedback-text">Швидка доставка та гарне обслуговування.</p>
          <p class="feedback-client-name">Сергій</p>
        </div>
      </li>
    </ul>
  </div>
</section>
