<section class="gallery" id="gallery">
  <div class="container glr-container">
    <h2 class="glr-title">Галерея зображень</h2>
    <h3 class="glr-txt">EcoTotes у повсякденному житті</h3>
    <ul class="glr-list">
      <li class="glr-item glr-item-1">
        <picture class="glr-pic">
          <source
            srcset="/img/gallery/img1.webp 1x, /img/gallery/img1@2x.webp 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/gallery/img-tab1.webp    1x,
              /img/gallery/img-tab1@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/img-mob1.webp    1x,
              /img/gallery/img-mob1@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="glr-img"
            src="/img/gallery/img1.webp"
            alt="An eco tote placed on a chair or beside a table at a cozy coffee shop. There’s a cup of coffee, a book or a laptop nearby. The setting is minimal and aesthetic, evoking slow lifestyle and conscious choices."
          />
        </picture>
      </li>
      <li class="glr-item glr-item-2">
        <picture>
          <source
            srcset="/img/gallery/img2.webp 1x, /img/gallery/img2@2x.webp 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/gallery/img-tab2.webp    1x,
              /img/gallery/img-tab2@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/img-mob2.webp    1x,
              /img/gallery/img-mob2@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="glr-img"
            src="/img/gallery/img2.webp"
            alt="A city scene where a stylish person carries a tote bag while crossing a street or standing at a crosswalk. Urban backdrop, bicycles, pedestrians, and modern architecture in the background. The bag is modern, clean, and fashionable."
          />
        </picture>
      </li>
      <li class="glr-item glr-item-3">
        <picture>
          <source
            srcset="/img/gallery/img3.webp 1x, /img/gallery/img3@2x.webp 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/gallery/img-tab3.webp    1x,
              /img/gallery/img-tab3@2x.webp 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              /img/gallery/img-mob3.webp    1x,
              /img/gallery/img-mob3@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="glr-img"
            src="/img/gallery/img3.webp"
            alt="A person walking through a park or nature trail carrying an eco-friendly tote bag on their shoulder. Casual outfit, spring or summer scenery, with trees, grass, and soft shadows. The bag moves naturally as part of the lifestyle moment."
          />
        </picture>
      </li>
      <li class="glr-item glr-item-4">
        <picture>
          <source
            srcset="/img/gallery/img4.webp 1x, /img/gallery/img4@2x.webp 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/gallery/img-tab4.webp    1x,
              /img/gallery/img-tab4@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/img-mob4.webp    1x,
              /img/gallery/img-mob4@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="glr-img"
            src="/img/gallery/img4.webp"
            alt="A young woman holding a large eco tote bag filled with fresh vegetables and fruits at a local farmer's market. Warm sunlight, cozy atmosphere, background with wooden crates and greenery. The tote has a simple, natural design."
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
