<section class="gallery" id="gallery">
  <div class="container glr-container">
    <h2 class="glr-title">Галерея зображень</h2>
    <h3 class="glr-txt">EcoTotes у повсякденному житті</h3>
    <ul class="glr-list">
      <li class="glr-item glr-item-1">
        <picture>
          <source
            srcset="/img/gallery/img1.webp 1x, /img/gallery/img1@x2.webp 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/gallery/img-tab1.webp    1x,
              /img/gallery/img-tab1@x2.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/img-mob1.webp    1x,
              /img/gallery/img-mob1@x2.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="glr-img"
            src="src/img/gallery/img1.webp"
            alt="EcoBag Classic"
          />
        </picture>
      </li>
      <li class="glr-item glr-item-2">
        <picture>
          <source
            srcset="/img/gallery/img2.webp 1x, /img/gallery/img2@x2.webp 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/gallery/img-tab2.webp    1x,
              /img/gallery/img-tab2@x2.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/img-mob2.webp    1x,
              /img/gallery/img-mob2@x2.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="glr-img"
            src="/src/img/gallery/img2.webp"
            alt="EcoBag Classic"
          />
        </picture>
      </li>
      <li class="glr-item glr-item-3">
        <picture>
          <source
            srcset="/img/gallery/img3.webp 1x, /img/gallery/img3@x2.webp 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/gallery/img-tab3.webp    1x,
              /img/gallery/img-tab3@x2.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/img-mob3.webp    1x,
              /img/gallery/img-mob3@x2.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="glr-img"
            src="/src/img/gallery/img3.webp"
            alt="EcoBag Classic"
          />
        </picture>
      </li>
      <li class="glr-item glr-item-4">
        <picture>
          <source
            srcset="/img/gallery/img4.webp 1x, /img/gallery/img4@x2.webp 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/gallery/img-tab4.webp    1x,
              /img/gallery/img-tab4@x2.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/img-mob4.webp    1x,
              /img/gallery/img-mob4@x2.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="glr-img"
            src="/src/img/gallery/img4.webp"
            alt="EcoBag Classic"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
