<header class="header">
    <!--Якщо буде загальний контейнер-->
    <div class="container">
        <!--------------------------------->
        <nav class="header-nav">
            <div class="header-nav-logo">
                <a href="/" class="header-nav-logo-link">
                    <svg class="header-nav-logo" width="103" height="38">
                        <use href=""></use>
                    </svg>
                </a>
            </div>
            <ul class="header-nav-list">
                <li class="header-nav-item">
                    <a href="#about" class="header-nav-link">Тест пула 1</a>
                </li>
                <li class="header-nav-item">
                    <a href="#advantages" class="header-nav-link">Тест пула 2</a>
                </li>
                <li class="header-nav-item">
                    <a href="#assortment" class="header-nav-link">Тест пула 3</a>
                </li>
                <li class="header-nav-item">
                    <a href="#gallery" class="header-nav-link">Тест пула 4</a>
                </li>
                <li class="header-nav-item">
                    <a href="#feedbacks" class="header-nav-link">Тест пула 5</a>
                </li>
                <li class="header-nav-item">
                    <a href="#contacts" class="header-nav-link">Тест пула 6</a>
                </li>
            </ul> 
        </nav>
    <!--Якщо буде загальний контейнер-->
    </div>
    <!--------------------------------->