<section class="hero">
  <div class="container hero-container">
    <div class="hero-text">
      <h1 class="hero-title">EcoTote — Стиль, що не шкодить планеті</h1>
      <div class="hero-description-block">
        <p class="hero-description">
          Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
          відповідальність разом з EcoTote.
        </p>
        <a href="#assortment" class="hero-button">Купити зараз</a>
      </div>
    </div>
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="/img/hero/hero-img.webp 1x, /img/hero/hero-img@2x.webp 2x"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /img/hero/hero-img-tab.webp    1x,
          /img/hero/hero-img-tab@2x.webp 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /img/hero/hero-img-mob.webp    1x,
          /img/hero/hero-img-mob@2x.webp 2x
        "
      />
      <img
        class="hero-img"
        src="/img/hero/hero-img-mob.webp"
        alt="bags EcoTote"
        width="288"
        height="285"
      />
    </picture>
  </div>
</section>
