
<section class="section-support">
    <div class="container support-container" id="contacts">
        <div class="section-form">
            <h2 class="form-title">Залишились питання?<br>Зв'яжіться з нами!</h2>
            <h3 class="form-subtitle">Ми тут, щоб допомогти!</h3>

            <form class="form">
                <div class="form-container">
                    <label class="form-label" for="user-name">Ім'я</label>
                    <div class="form-input-container">
                        <input class="form-input" type="text" name="user-name" id="user-name" placeholder="Іван"
                            minlength="5" maxlength="64" required>
                        <p class="text-valid">Succes!</p>
                        <p class="text-invalid">Error text</p>
                    </div>
                </div>

                <div class="form-container">
                    <label class="form-label" for="email">Електронна пошта</label>
                    <div class="form-input-container">
                        <input class="form-input" type="email" name="email" id="email" placeholder="hello@ecotote.com"
                            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required>
                        <p class="text-valid">Succes!</p>
                        <p class="text-invalid">Error text</p>
                    </div>
                </div>

                <div class="textarea-container">
                    <label class="form-label" for="user-comment">Повідомлення</label>
                    <textarea class="form-input form-textarea" name="user-comment" id="user-comment"
                        placeholder="Введіть своє повідомлення..." maxlength="500"></textarea>
                </div>

                <button type="submit" class="button-form">Надіслати</button>
            </form>
        </div>

        <div class="image-form"></div>
    </div>
</section>