/** ====== About Section Styles Mob ====== **/

.section-about {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #000000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../img/about/about-mob-@1x.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (min-resolution: 2x) {
  .section-about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../img/about/about-mob-@2x.webp');
  }
}

.about-container {
  max-width: 288px;
}

.about-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  margin: 0 auto 12px;
}

.about-title {
  font-family: Comfortaa, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.01em;
  margin: 0 auto 20px;
}

.about-description {
  margin: 0 auto;
}

.about-subtitle,
.about-title,
.about-description {
  text-align: center;
  color: #ffffff;
}

/** ========= Media 768px ========= */

@media screen and (min-width: 768px) {
  /* ===== media About Tablet ===== */

  .section-about {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../img/about/about-tab-@1x.webp');
  }

  @media screen and (min-resolution: 2x) {
    .section-about {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../img/about/about-tab-@2x.webp');
    }
  }

  .container.about-container {
    max-width: 573px;
  }
}

/** ======= Media 1440px ======= */

@media screen and (min-width: 1440px) {
  /* ===== media About Desktop ===== */

  .section-about {
    padding-top: 112px;
    padding-bottom: 94px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../img/about/about-pc-@1x.webp');
  }

  @media screen and (min-resolution: 2x) {
    .section-about {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../img/about/about-pc-@2x.webp');
    }
  }

  .container.about-container {
    max-width: 701px;
  }

  .about-title {
    font-size: 56px;
  }

  .about-description {
    font-size: 18px;
  }
}

/** ======= Media 768px and 1440px ======= */

@media screen and (min-width: 768px) and (min-width: 1440px) {
  /* ===== media About Tablet and Desktop ===== */

  .about-subtitle {
    margin: 0 auto 16px;
  }

  .about-title {
    margin: 0 auto 24px;
  }
}
